.person__page {
    width: 100%;
    height: 100%;
    &__img {
        width: 100%;
    }
    &__info{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &__collect{
        position: absolute;
        padding: 15px;
        top: -40px;
        right: 20px;
        border-radius: 50%;
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.3);
        background-color: #fff;
        z-index: 2;
      }
      &__avatar{
        z-index: 99;
        margin-top: -60px;
        transition: all 0.8s;
        border: solid 4px #fff;
        border-radius: 50%;
      }
      &__name{
        font-size: 40px;
        font-weight: 700;
        color:#525558;
        line-height: 80px;
        margin-bottom:20px;
      }
      &__block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 28px;
        color: #b9c1c7;
        margin-bottom: 20px;
      }
    }
    &__project{
      background-color: #eee;
      padding: 20px;
      &__img{
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
      &__title{
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        color: rgba(255, 255, 255, 0.8);
        padding: 0 40px;
        font-style: italic;
      }
    }
}
