.detail__page {
    width: 100%;
    height: 100%;
    &__img {
        width: 100%;
    }
    &__uploader {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        position: relative;
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 20px;
            &__name {
                font-size: 30px;
                line-height: 50px;
            }
            &__fans {
                font-size: 18px;
                line-height: 30px;
                color: #999;
            }
        }
    }
    &__collect {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    &__des {
        margin-top: 10px;
        padding: 0 10px;
        &__title {
            font-weight: bold;
            font-size: 32px;
            line-height: 80px;
        }
    }
    &__detail {
        width: 100%;
        height: 170px;
        border-top: 2px dashed #eee;
        border-bottom: 2px dashed #eee;
        padding: 15px 0;
        margin-top: 20px;
        color: #525558;
        &__basic {
            width: 100%;
            height: 100%;
            display: flex;
        }
        &__heat,
        &__pv,
        &__like,
        &__hot {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &__title {
                color: #b8c1c8;
            }
            &__icon {
                width: 36px;
                height: 36px;
            }
        }
        &__heat__content {
            color: #ff5000;
            font-weight: bold;
        }
        &__time {
            font-size: 20px;
        }
        &__placeholder {
            height: 28px;
            width: 2px;
        }
    }
    &__camera {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        &__title {
            color: #0099e5;
        }
        &__subtitle {
            font-size: 24px;
            color: #525558;
            margin: 20px 0;
        }
        &__flex {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__item {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                color: #71767a;
                font-size: 20px;
                &__img {
                    width: 56px;
                    height: 80px;
                }
            }
        }
    }
    &__class {
        border-top: 2px dashed #eee;
        border-bottom: 2px dashed #eee;
        padding: 20px 20px;
        &__line {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 28px;
            line-height: 48px;
            &__title {
                color: #b8c1c8;
            }
            &__content {
                color: #525558;
            }
        }
    }
    &__comment {
        // background-color: #f7f8fa;
        padding: 15px 0;
        &__title {
            // text-align: center;
            margin-left: 20px;
            font-weight: 700;
            font-size: 32px;
            line-height: 60px;
        }
    }
}
