.find-tabbar {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    &__logo {
        width: 130px;
        height: 90px;
    }
    &__tablist {
        display: flex;
    }
    &__tab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        &__icon {
            width: 40px;
            height: 40px;
        }
        &__label {
            font-size: 20px;
            font-weight: bold;
        }
    }
}
